* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

.sky {
	position: relative;
	height: 50vh;
	width: 100%;
	background-color: rgb(13, 97, 213);
}

.sea {
	position: relative;
	height: 20vh;
	width: 100%;
	background-color: rgb(194, 223, 255);
}

.beach {
	position: relative;
	height: 20vh;
	width: 100%;
	background-color: rgb(213, 173, 13);
}

.ground {
	position: relative;
	height: 10vh;
	width: 100%;
	background-color: rgb(83, 59, 36);
}
